
/* MAPA DE CONTENIDOS:

1) =ROOT:
  1.1) =Variables de personalizacion de pagina
  1.2) =Variables de cambio visual relacionado a al ancho de la pantalla

2) =MEDIA QUERIES:
  2.1) min-width:  360px
  2.2) min-width:  576px
  2.3) min-width:  768px
  2.4) min-width:  992px
  2.5) min-width: 1200px

3) =TIPOGRAFIAS:

4) =ETIQUETAS GLOBALES:

5) =ESTRUCTURA:

6) =COMPONENTES:

FIN DE MAPA DE CONTENIDOS */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                               1) =ROOT:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

:root {

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
                 1.1) =Variables de personalizacion de pagina
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */
  /* la idea de esto es que sean como controles con los
  que hacer facilmente diferentes versiones de la pagina */

  /* --topCero: 46px; */
  /* --topCero: 0px; */
  --sE: 20;
  --specialContSpan: 4;

  /* COLORS */
  /* Al editar colores siempre usar HEX y nunca
  dejar espacio entre los dos puntos y el color */
  --color1: #8FBE00;
  --color2: #E5E5E5;
  --color3: #696969;
  --color4: black;


  /* SIZES */
  /* Al editar los tamaños, hacerlo siempre sin unidades
  sabiendo que el numero corresponde a la cantidad de pixeles */
  --sizeRa: 16; --sizeRb: 20; --sizeRc: 20; --sizeRd:24;
  --sizeR: calc(var(--sizeRa) * 1px);

}

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
      1.2) =Variables de cambio visual relacionado a al ancho de la pantalla
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                            2) =MEDIA QUERIES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =360px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 360px)  {
  :root {
  --sizeR: calc(calc(var(--sizeRa) * 1px) + (var(--sizeRb) - var(--sizeRa)) * ((100vw - 360px) / (768 - 360)));
  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =576px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  :root {

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =768px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  :root {

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =992px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  :root {

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1200px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1200px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);
  }
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
                                 =LOGIC FOLD
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              3) =TIPOGRAFIAS:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

@font-face {

}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                           4) =ETIQUETAS GLOBALES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
:root{font-size:var(--sizeR)}
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding:0;
  z-index:3;
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5) =ESTRUCTURA:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.ATF {
  border-bottom: var(--color1) 2px solid;
  background-image: url("../img/atfBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}






/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6) =COMPONENTES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/*ATF*/

.copyContainer {
  display: grid;
  grid-template-columns: min-content auto;
  height: max-content;
  margin: 150px auto auto 150px;
  width: max-content;
}

.copyAndCTA {
  padding: 0 calc(var(--sE) * 1px);
}

.copy {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 120%;
}

.copyMainColor {
  font-size: 2rem;
  font-weight: 500;
}

.iconoReloj {
  height: 90px;
  margin-top: calc(var(--sE) * 1px);
  width: 90px;
}

.ButtonCTA {
  background: none;
  border: solid 1px black;
  font-size: .7rem;
  font-weight: 300;
  margin: auto;
  margin: 15px 10px;
  padding: .2rem;
}


.textMainColor {
  color: var(--color1);
}

.features {
  display: flex;
  justify-content: space-around;
  font-size: .6rem;
}

.singleFeature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
}

.featureIcon {
  margin: auto;
  margin-bottom: calc(var(--sE) * .5px);
  margin-top: 0;
}

/*Section 1*/

.nuestraSolucion {
  margin-top: calc(var(--sE) * 1.5px);
  margin-bottom: calc(var(--sE) * .5px);
  font-weight: 700;
  font-size: 1.05rem;
}

.section1Txt {
  font-size: .75rem;
  font-weight: 300;
  width: 60%;
  margin: auto;
  margin-bottom: calc(var(--sE) * 2px);
}

.features1 {
  margin: auto;
  width: 67%;
  margin-bottom: 3rem;
}

.featureIcon1 {
  width: 90px;
  height: 90px;
}

/*Section 2*/

.section2 {
  position: relative;

}

.metodologias {
  background-image: url('../img/barcelonaVerde.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  z-index: 1;

  /*rafa-position: presta-atencion;*/
}

.h4Metodologias{
  color: white;
  text-align: center;
  padding-top:  1.5rem;
  padding-bottom:  1.5rem;
}

.metodologiasLista{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 7rem;
  padding-right: 7rem;
  align-items: center;
}

.numberMetodologia{
  text-align: center;
  background: white;
  border-radius: 50%;
  width: 1.5rem;
  display: inline-block;
  color: var(--color1);
}

.descriptionMetodologia{
  color: white;
}

.metodologiasArrow{
  height: 5rem;
}


.imgMovil{
  position: relative;
  margin-top: -2rem;
  z-index: 5;
  grid-row: 1/4;
  grid-column: 1;
}

.polivalenciaFlex{
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  /*grid-template-rows: min-content;*/

}

.polivalencia{
  height: 5rem;
  margin-top: 2rem;
}

.features{
  justify-content:flex-start;
}

.singleFeature{
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.featureText{
  text-align: center;
}

.section2CTA{
  background: var(--color1);
  grid-column: 1 / span 2;
  grid-row: 3;
  height: 2rem;
  /* display: grid;
  grid-template-columns: min-content 1fr; */

}

/* .buttonsPolivalencia{
  display: grid;
  grid-template-columns: 1fr 2fr;
} */

.masInfoCTA{
}

.descargarCTA{
}
