
/* MAPA DE CONTENIDOS:

1) =ROOT:
  1.1) =Variables de personalizacion de pagina
  1.2) =Variables de cambio visual relacionado a al ancho de la pantalla

2) =MEDIA QUERIES:
  2.1) min-width:  360px
  2.2) min-width:  576px
  2.3) min-width:  768px
  2.4) min-width:  992px
  2.5) min-width: 1200px

3) =TIPOGRAFIAS:

4) =ETIQUETAS GLOBALES:

5) =ESTRUCTURA:

6) =COMPONENTES:

FIN DE MAPA DE CONTENIDOS */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                               1) =ROOT:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

:root {

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
                 1.1) =Variables de personalizacion de pagina
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */
  /* la idea de esto es que sean como controles con los
  que hacer facilmente diferentes versiones de la pagina */

  /* --topCero: 46px; */
  /* --topCero: 0px; */
  --sE: 20;
  --specialContSpan: 4;

  /* COLORS */
  /* Al editar colores siempre usar HEX y nunca
  dejar espacio entre los dos puntos y el color */
  --color1: #77BF00;
  --color2: #E6E6E6;
  --color3: #696969;
  --color4: #616161;



  /* SIZES */
  /* Al editar los tamaños, hacerlo siempre sin unidades
  sabiendo que el numero corresponde a la cantidad de pixeles */
  --sizeRa: 16; --sizeRb: 20; --sizeRc: 20; --sizeRd:24;
  --sizeR: calc(var(--sizeRa) * 1px);



  --section3ElementPadding: .5rem;
  --section2FlexDirection: column;
  --section2Wrap: nowrap;
  --buttonsPolivalenciaJustifyContent: center;
  --polivalenciaWidth: 100%;
  --polivalenciaFlexHeight: min-content;
  --polivalenciaTextAlign: center;
  --imgMovilWidth: auto;
  --imgMovilObjectFit: auto;
  --imgMovilMargin: auto auto 0 auto;

  /* FEATURES 2 */
  --features2JustifyContent: space-between;
  --features2AlignSelf: ;
  --features2Width: 100%;
  --features2Padding: 2rem;
  --features2FlexWrap:wrap;

  /* ATF */
  --copyContainerMargin: auto;


  /* METODOLOGIAS */
  --metodologiasPadding: 0 1rem 2rem 1rem;
  --metodologiasDirection: column;
  --metodologiasArrowTransform: rotate(90deg);
  --descriptionMetodologiaDisplay : flex;
  --metodologiasTitleFontSize: 2rem;
  --metodologiasTitleMarginBottom: 2rem;
  --stepsFontSize: 1.3rem;
  --imgMovilDisplay: block;
  --buttonsPolivalenciaFontSize: 1.1rem;

  /* SECTION 3 */
  --section3GridTemplateColumns: 1fr;
  --section3GridTemplateRows: 1fr 1fr;



  /* SECTION 4 */
  --section4TitleTextAlign: center;
  --section4TitleBackground: rgba(255,255,255,.5);

  /* PARALLAX BEHAVIOUR */

  --section4Height:min-content;
  --parallaxContainerGR:2;

  --parallaxContainerWidth: 300px;
  --parallaxContainerHeigth: auto;

  /* FOOTER */
  --footerGridTemplateColumns: 1fr;
  --footerGridTemplateRows: min-content min-content;
  --footerRightGridTemplateColumns: 1fr;
  --footerRightGridTemplateRows: min-content min-content;
}

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
      1.2) =Variables de cambio visual relacionado a al ancho de la pantalla
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                            2) =MEDIA QUERIES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =360px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 360px)  {
  :root {
  --sizeR: calc(calc(var(--sizeRa) * 1px) + (var(--sizeRb) - var(--sizeRa)) * ((100vw - 360px) / (768 - 360)));
  --moveManagerImgHeight: 300px;
  --imgMovilWidth: 100%;

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =576px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  :root {
    --moveManagerImgHeight: 450px;
    --imgMovilWidth: 100%;
    --features2JustifyContent: space-evenly;
    --features2Width: 100%;

    /* ATF */

    /* METODOLOGIAS */


    /* SECTION 4 */
    --section4TitleTextAlign: left;

    /* PARALLAX BEHAVIOUR */
    --parallaxContainerWidth: 460px;
    --parallaxContainerHeigth: 450px;
    /* --section4Height:calc(var(--parallaxContainerHeigth) - 70px); */

  }
}

@media screen and (min-width: 650px) {
  :root {

    /* METODOLOGIAS */
    --imgMovilDisplay: none;
  }
}



/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =768px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  :root {
    --copyContainerMargin:150px auto auto 150px;
    --moveManagerImgHeight: 500px;
    --section4Height: 300px;
    --descargarCTA2MarginTop: 3rem;
    --footerHeight: 200px;
    --section3Height: 350px;
    --imgMovilPosition: relative;
    --section2FlexDirection: row;
    --section2Wrap: wrap;
    --imgMovilWidth: 50%;
    --polivalenciaFlexWidth: 50%;
    --singleFeature2Width: 50%;
    --features2Padding: 1rem;

    /* METODOLOGIAS */
    --metodologiasDirection: row;
    --metodologiasArrowTransform: rotate(0deg);
    --descriptionMetodologiaDisplay : block;
    --metodologiasTitleFontSize: 1rem;
    --metodologiasTitleMarginBottom: 0;
    --stepsFontSize: 1rem;
    --buttonsPolivalenciaFontSize: ;


    /* METODOLOGIAS */
    --imgMovilDisplay: block;


    /* SECTION 3 */
  --section3GridTemplateColumns: 1fr 1fr;
  --section3GridTemplateRows: 1fr;


    /* PARALLAX BEHAVIOUR */

    --parallaxContainerGR:1;
    --parallaxContainerWidth: 650px;
    --parallaxContainerHeigth: 550px;

    --section4Height:calc(var(--parallaxContainerHeigth) - 70px);


    /* FOOTER */
    --footerGridTemplateColumns: 1fr min-content;
    --footerGridTemplateRows: 1fr;
    --footerRightGridTemplateColumns: min-content min-content;
    --footerRightGridTemplateRows: 1fr;
  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =992px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  :root {
    --features2Padding: 0 2rem;
    --polivalenciaTextAlign: left;


    --section3Height: 300px;
    --moveManagerImgHeight: 600px;
    --moveManagerImgMarginRight: 0;
    --section4Height: 380px;
    --buttonsPolivalenciaMarginRight: 6rem;
    --metodologiasPadding: 0 4rem 1rem 4rem;
    --descargarCTA2MarginTop: 5rem;
    --footerHeight: 270px;
    --imgMovilPosition: absolute;
    --section2FlexDirection: column;
    --section2Wrap: nowrap;
    --imgMovilWidth: auto;
    --polivalenciaFlexWidth: auto;
    --buttonsPolivalenciaJustifyContent: flex-end;
    --polivalenciaWidth: 55%;
    --polivalenciaFlexHeight: 320px;
    --features2AlignSelf: flex-end;
    --features2FlexWrap:nowrap;
    --features2Width: 60%;
    --singleFeature2Width: auto;
    --imgMovilWidth: auto;
    --imgMovilObjectFit: auto;
    --imgMovilMargin: auto;

    /* PARALLAX BEHAVIOUR */
    --parallaxContainerWidth: 900px;
    --parallaxContainerHeigth: 600px;
    --section4Height:calc(var(--parallaxContainerHeigth) - 70px);
  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1200px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1200px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);

    --features2Padding: 0 7rem 1rem 0;
    --buttonsPolivalenciaMarginRight: 12rem;
    --moveManagerImgHeight: 864px;
    --section3ElementPadding: 1rem 3rem;
    --section3Height: 400px;
    --moveManagerImgMarginRight: 4rem;
    --section4Height: 600px;
    --metodologiasPadding: 0 6rem 1rem 6rem;

    /* PARALLAX BEHAVIOUR */
    --parallaxContainerWidth: 1100px;
    --parallaxContainerHeigth: 600px;
  }
}

/* =1300 */
@media  screen and (min-width: 1300px) {
  :root {
    --buttonsPolivalenciaMarginRight: 18rem;
    --moveManagerImgHeight: 1080px;
    --section4TitleBackground: none;
    --section4Height: 800px;

    /* PARALLAX BEHAVIOUR */
    --parallaxContainerWidth: 1200px;
    --parallaxContainerHeigth: 700px;
  }
}


@media  screen and (min-width: 1600px) {
  :root {
    --buttonsPolivalenciaMarginRight: 18rem;
    --moveManagerImgHeight: 1080px;
    --section4TitleBackground: none;
    --section4Height: 800px;

    /* PARALLAX BEHAVIOUR */
    --parallaxContainerWidth: 1500px;
    --parallaxContainerHeigth: 800px;
  }
}



/* PARALLAX BEHAVIOUR */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
                                 =LOGIC FOLD
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              3) =TIPOGRAFIAS:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

@font-face {

}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                           4) =ETIQUETAS GLOBALES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
:root{font-size:var(--sizeR)}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding:0;
  z-index:3;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5) =ESTRUCTURA:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.ATF {
  border-bottom: var(--color1) 2px solid;
  background-image: url("../img/atfBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6) =COMPONENTES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/*ATF*/

.copyContainer {
  display: grid;
  grid-template-columns: min-content auto;
  height: max-content;
  /* margin: 150px auto auto 150px; */
  margin:var(--copyContainerMargin);
  padding:0 1rem;
  /* width: max-content; */
}

.copyAndCTA {
  padding: 0 calc(var(--sE) * 1px);
}

.copy {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 120%;
}

.copyMainColor {
  font-size: 2rem;
  font-weight: 500;
}

.iconoReloj {
  height: 90px;
  margin-top: calc(var(--sE) * 1px);
  width: 90px;
}

.ButtonCTA {
  background: none;
  border: solid 1px black;
  font-size: .7rem;
  font-weight: 300;
  margin: auto;
  margin: 15px 10px;
  padding: .2rem .3rem;
  transition: .25s;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.ButtonCTA:hover {
  color: white;
  background: black;
}


.textMainColor {
  color: var(--color1);
}

.features {
  display: flex;
  font-size: .6rem;
}

.singleFeature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
  padding:0 .5rem;
}

.featureIcon {
  margin: auto;
  margin-bottom: calc(var(--sE) * .5px);
  margin-top: 0;
}

/*Section 1*/

.nuestraSolucion {
  margin-top: calc(var(--sE) * 1.5px);
  margin-bottom: calc(var(--sE) * .5px);
  font-weight: 700;
  font-size: 1.05rem;
}

.section1Txt {
  font-size: .75rem;
  font-weight: 300;
  width: 60%;
  margin: auto;
  margin-bottom: calc(var(--sE) * 2px);
}

.features1 {
  margin: auto;
  width: 75%;
  margin-bottom: 3rem;
  justify-content: space-around;
  flex-wrap:wrap;
}

.featureIcon1 {
  width: 90px;
  height: 90px;
}

/*Section 2*/

.section2 {
  position: relative;
  display: flex;
  flex-direction: var(--section2FlexDirection);
  flex-wrap: wrap;
}

.metodologias {
  background-image: url('../img/barcelonaVerde.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction:var(--metodologiasDirection);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  padding:var(--metodologiasPadding);
  width: 100%;
}

.metodologiasTitle {
  color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  margin-top: .5rem;
  font-size:var(--metodologiasTitleFontSize);
  margin-bottom: var(--metodologiasTitleMarginBottom);
}


.numberMetodologia{
  text-align: center;
  background: white;
  border-radius: 50%;
  width: 1.5rem;
  display: inline-block;
  color: var(--color1);
}

.steps {
  font-size: var(--stepsFontSize);
}

.descriptionMetodologia{
  color: white;
  font-weight: 300;
  display: var(--descriptionMetodologiaDisplay);
  flex-direction: column;
  align-items: center;
}

.metodologiasArrow{
  display:var(--metodologiasArrowDisplay);
  height: 4rem;
  padding:0 .8rem;
  transform: var(--metodologiasArrowTransform);
}


.imgMovil{
  position: var(--imgMovilPosition);
  bottom: 0;
  left: 0;
  z-index: 5;
  width: var(--imgMovilWidth);
  object-fit: var(--imgMovilObjectFit);
  margin: var(--imgMovilMargin);
  display: var(--imgMovilDisplay);
}

.polivalenciaFlex{
  height: var(--polivalenciaFlexHeight);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  text-align: var(--polivalenciaTextAlign);
  width: var(--polivalenciaFlexWidth);

}

.polivalencia {
  align-self: flex-end;
  width: var(--polivalenciaWidth);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

.polivalencia .textMainColor {
  font-weight: 700;
}


.features2 {
  align-self: var(--features2AlignSelf);
  width: var(--features2Width);
  justify-content: space-evenly;
  align-items: center;
  padding: var(--features2Padding);
  /* flex-wrap: wrap; */
  flex-wrap: var(--features2FlexWrap);
}


.singleFeature2 {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: var(--singleFeature2Width);
}


.featureIcon2 {
  height: auto;
  align-self: flex-end;
  margin-bottom: calc(var(--sE) * 1.5px);
}


.featureCaption2 {
  font-weight: 300;
}

.featureText{
  text-align: center;
}

.section2CTA{
  background: var(--color1);
  height: 100px;
}

.buttonsPolivalencia{
  display: flex;
  justify-content: var(--buttonsPolivalenciaJustifyContent);
  width: 100%;
  background-image: url(../img/barcelonaVerde.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.buttonsPolivalencia .ButtonCTA {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  border-color: white;
  color: white;
  font-size: var(--buttonsPolivalenciaFontSize);
}

.buttonsPolivalencia .ButtonCTA:nth-child(2) {
  margin-right: var(--buttonsPolivalenciaMarginRight);
}

/* Section 3 */

.section3 {
  display: grid;
  grid-template-columns: var(--section3GridTemplateColumns);
  grid-template-rows: var(--section3GridTemplateRows);
  height: var(--section3Height);
  grid-gap: 15px;
  text-align: center;
  width: 100%;
}

.section3Element {
  padding: var(--section3ElementPadding);
  background: var(--color2);
}

.section3Title {
  margin-bottom: 1rem;
  font-weight: 300;
  white-space: normal;
}
.section3Title .textMainColor {
  font-weight: 800;
  font-size: 1.2rem;
}
.section3Text {
  font-size: .7rem;
  font-weight: 300;
  margin-bottom: .5rem;
  line-break: strict!important;
  white-space: normal;
}

.section4 {
  padding-top: 50px;
  background: white;
  position: relative;
  z-index: 10;
  /* height: calc(var(--parallaxContainerHeigth) - 70px); */
  height: var(--section4Height);
  display: grid;
}

.parallaxContainer {
  width: var(--parallaxContainerWidth);
  height: var(--parallaxContainerHeigth);
  display: grid;
  grid-column: 1;
  grid-row: var(--parallaxContainerGR);
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: 0;
}

.moveManagerImg {
  height: var(--moveManagerImgHeight);
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-top: -80px;
  margin-right: var(--moveManagerImgMarginRight);
  position: relative;
  z-index: -1;
}

.moveManagerPantallas {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-bottom: 0;
}

.parallaxTxt {
  font-size: .6rem;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-bottom: 0;
  height: min-content;
}

.moveManagerImg1{
  margin-top:-80px;
  margin-right:7.2%;
  width: 29.3%;
}
.parallaxTxt1 {
  margin-top: -19px;
  margin-right: 8%;
}

.moveManagerImg2{
  margin-top:65px;
  margin-right:28.5%;
  width: 24.9%;
}
.parallaxTxt2 {
  margin-top: 30px;
  margin-right: 46%;
}

.moveManagerImg3{
  margin-top: 172px;
  margin-right: 11%;
  width: 21%;
}
.parallaxTxt3 {
  margin-top: 230px;
  margin-right: 2.5%;
}

.moveManagerImg4{
  margin-top: 215px;
  margin-right: 42.5%;
  width: 19%;
}
.parallaxTxt4 {
  margin-top: 190px;
  margin-right: 47%;
}


.moveManagerImg5{
  margin-top: 265px;
  margin-right: 9%;
  width: 57%;
}
.parallaxTxt5 {
  margin-top: 240px;
  margin-right: 15%;
}
.parallaxTxt6 {
  margin-top: 560px;
  margin-right: 55%;
}



.section4Left {
  grid-column: 1;
  grid-row: 1;
}

.section4Title {
  margin: auto;
  /* margin-left: 4rem; */
  /* width: max-content; */
  background: var(--section4TitleBackground);
  padding:0 2rem;
  text-align:var(--section4TitleTextAlign)
}

.section4Title h4 {
  font-weight: 300;
  font-size: 1.1rem;
  white-space: normal;
}

.section4Title h5 {
  font-size: 1rem;
  margin-top: 1.5rem;
}


.ButtonCTA2 {
  display: flex;
  align-items: center;
  padding: .5rem;
  background: var(--color1);
  border: none;
  height: max-content;
  width: 240px;
  color: white;
  font-weight: 300;
  font-size: .7rem;
  margin-left: 4rem;
  text-decoration: none;
  transition: .25s;
}

.CTAIcon {
  margin-right: .5rem;
  align-self: flex-start;
  height: 40px;

}
.descargarCTA2 {
  margin-top: var(--descargarCTA2MarginTop);
}

.descargarCTA2:hover {
  margin-top: 5rem;
  background: black;
  border: 1px solid white;
}

.masInfoCTA2{
  background: var(--color4);
  margin-top: .5rem;
}

.masInfoCTA2:hover{
  background: black;
  margin-top: .5rem;
  border: 1px solid white;
}

/* footer */

.footer {
  margin-top: var(--footerMarginTop);
  background: var(--color1);
  display: grid;
  grid-template-columns: var(--footerGridTemplateColumns);
  grid-template-rows: var(--footerGridTemplateRows);
  height: var(--footerHeight);

}

.footerElement {
  margin: auto;
  color: white;
  font-weight: 300;
}

.footerLeft {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.smallTxt {
  font-size: .6rem;
}

.numeroTelefono {
font-size: .8rem;
}

.eMail {
font-size: .7rem;
margin-bottom: 1rem;
}

.firmaDiseniador {
  opacity: .6;
}

.footerRight {
  display: grid;
  grid-template-columns: var(--footerRightGridTemplateColumns);
  grid-template-rows: var(--footerRightGridTemplateRows);
  grid-gap: .5rem;
  margin: auto;
  margin-bottom: 2rem;
  padding:0 1rem;
}

.logoFooter {
  height: 80px;
}

.footerRightText {
  font-size: .6rem;
  white-space: nowrap;

}
