
/* MAPA DE CONTENIDOS:

1) =ROOT:
  1.1) =Variables de personalizacion de pagina
  1.2) =Variables de cambio visual relacionado a al ancho de la pantalla

2) =MEDIA QUERIES:
  2.1) min-width:  360px
  2.2) min-width:  576px
  2.3) min-width:  768px
  2.4) min-width:  992px
  2.5) min-width: 1200px

3) =TIPOGRAFIAS:

4) =ETIQUETAS GLOBALES:

5) =ESTRUCTURA:

6) =COMPONENTES:

FIN DE MAPA DE CONTENIDOS */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                               1) =ROOT:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

:root {

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
                 1.1) =Variables de personalizacion de pagina
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */
  /* la idea de esto es que sean como controles con los
  que hacer facilmente diferentes versiones de la pagina */

  /* --topCero: 46px; */
  /* --topCero: 0px; */
  --sE: 20;
  --specialContSpan: 4;

  /* COLORS */
  /* Al editar colores siempre usar HEX y nunca
  dejar espacio entre los dos puntos y el color */
  --color1: #77BF00;
  --color2: #E6E6E6;
  --color3: #696969;
  --color4: #616161;



  /* SIZES */
  /* Al editar los tamaños, hacerlo siempre sin unidades
  sabiendo que el numero corresponde a la cantidad de pixeles */
  --sizeRa: 16; --sizeRb: 20; --sizeRc: 20; --sizeRd:24;
  --sizeR: calc(var(--sizeRa) * 1px);



  --section4TitleBackground: rgba(255,255,255,.5);
  --section3ElementPadding: .5rem;
  --section2FlexDirection: column;
  --section2Wrap: nowrap;
  --buttonsPolivalenciaJustifyContent: center;
  --polivalenciaWidth: 100%;
  --polivalenciaFlexHeight: min-content;
  --features2AlignSelf: ;
  --features2Width: 100%;
  --polivalenciaTextAlign: center;
  --imgMovilWidth: auto;
  --imgMovilObjectFit: auto;
  --imgMovilMargin: auto auto 0 auto;
}

  /* ---------------------------------------------------------------------------
  ------------------------------------------------------------------------------
      1.2) =Variables de cambio visual relacionado a al ancho de la pantalla
  ------------------------------------------------------------------------------
  --------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                            2) =MEDIA QUERIES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =360px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 360px)  {
  :root {
  --sizeR: calc(calc(var(--sizeRa) * 1px) + (var(--sizeRb) - var(--sizeRa)) * ((100vw - 360px) / (768 - 360)));
  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =576px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  :root {

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =768px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  :root {

    --moveManagerImgHeight: 500px;
    --section4Height: 300px;
    --descargarCTA2MarginTop: 3rem;
    --footerHeight: 200px;
    --section3Height: 350px;
    --imgMovilPosition: relative;
    --section2FlexDirection: row;
    --section2Wrap: wrap;
    --imgMovilWidth: 50%;
    --polivalenciaFlexWidth: 50%;
    --singleFeature2Width: 50%;
    --features2Padding: 1rem;

  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =992px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  :root {
    --features2Padding: 0 2rem;
    --polivalenciaTextAlign: left;


    --section3Height: 300px;
    --moveManagerImgHeight: 600px;
    --moveManagerImgMarginRight: 0;
    --section4Height: 380px;
    --buttonsPolivalenciaMarginRight: 6rem;
    --metodologiasPadding: 0 4rem 1rem 4rem;
    --descargarCTA2MarginTop: 5rem;
    --footerHeight: 270px;
    --imgMovilPosition: absolute;
    --section2FlexDirection: column;
    --section2Wrap: nowrap;
    --imgMovilWidth: auto;
    --polivalenciaFlexWidth: auto;
    --buttonsPolivalenciaJustifyContent: flex-end;
    --polivalenciaWidth: 60%;
    --features2AlignSelf: flex-end;
    --polivalenciaFlexHeight: 320px;
    --features2Width: 60%;
    --singleFeature2Width: auto;
    --imgMovilWidth: auto;
    --imgMovilObjectFit: auto;
    --imgMovilMargin: auto;








  }
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          2.1) min-width:  =1200px
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media  screen and (min-width: 1200px) {
  :root {
    --sizeR: calc(var(--sizeRd) * 1px);

    --features2Padding: 0 7rem 1rem 0;
    --buttonsPolivalenciaMarginRight: 12rem;
    --moveManagerImgHeight: 864px;
    --section3ElementPadding: 1rem 3rem;
    --section3Height: 400px;
    --moveManagerImgMarginRight: 4rem;
    --section4Height: 600px;
    --metodologiasPadding: 0 6rem 1rem 6rem;





  }
}

/* =1300 */
@media  screen and (min-width: 1300) {
  :root {
    --buttonsPolivalenciaMarginRight: 18rem;
    --moveManagerImgHeight: 1080px;
    --section4TitleBackground: none;
    --section4Height: 800px;
  }
}


/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
                                 =LOGIC FOLD
------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              3) =TIPOGRAFIAS:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

@font-face {

}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                           4) =ETIQUETAS GLOBALES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
:root{font-size:var(--sizeR)}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding:0;
  z-index:3;
}




/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5) =ESTRUCTURA:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.ATF {
  border-bottom: var(--color1) 2px solid;
  background-image: url("../img/atfBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}






/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              6) =COMPONENTES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/*ATF*/

.copyContainer {
  display: grid;
  grid-template-columns: min-content auto;
  height: max-content;
  margin: 150px auto auto 150px;
  width: max-content;
}

.copyAndCTA {
  padding: 0 calc(var(--sE) * 1px);
}

.copy {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 120%;
}

.copyMainColor {
  font-size: 2rem;
  font-weight: 500;
}

.iconoReloj {
  height: 90px;
  margin-top: calc(var(--sE) * 1px);
  width: 90px;
}

.ButtonCTA {
  background: none;
  border: solid 1px black;
  font-size: .7rem;
  font-weight: 300;
  margin: auto;
  margin: 15px 10px;
  padding: .2rem .3rem;
  transition: .25s;
  text-decoration: none;
  color: black;
}

.ButtonCTA:hover {
  color: white;
  background: black;
}


.textMainColor {
  color: var(--color1);
}

.features {
  display: flex;
  font-size: .6rem;
}

.singleFeature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
}

.featureIcon {
  margin: auto;
  margin-bottom: calc(var(--sE) * .5px);
  margin-top: 0;
}

/*Section 1*/

.nuestraSolucion {
  margin-top: calc(var(--sE) * 1.5px);
  margin-bottom: calc(var(--sE) * .5px);
  font-weight: 700;
  font-size: 1.05rem;
}

.section1Txt {
  font-size: .75rem;
  font-weight: 300;
  width: 60%;
  margin: auto;
  margin-bottom: calc(var(--sE) * 2px);
}

.features1 {
  margin: auto;
  width: 75%;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.featureIcon1 {
  width: 90px;
  height: 90px;
}

/*Section 2*/

.section2 {
  position: relative;
  display: flex;
  flex-direction: var(--section2FlexDirection);
  flex-wrap: wrap;
}

.metodologias {
  background-image: url('../img/barcelonaVerde.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  height: 230px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* margin-left: 5rem;
  margin-right: 5rem; */
  z-index: 1;
  padding:var(--metodologiasPadding);
  width: 100%;
}

.metodologiasTitle {
  color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  /* padding-top:  1.5rem;
  padding-bottom:  1.5rem; */
  width: 100%;
  margin-top: .5rem;
}

/* .metodologiasLista{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 7rem;
  padding-right: 7rem;
  align-items: center;
} */

.numberMetodologia{
  text-align: center;
  background: white;
  border-radius: 50%;
  width: 1.5rem;
  display: inline-block;
  color: var(--color1);
}

.descriptionMetodologia{
  color: white;
  font-weight: 300;
}

.metodologiasArrow{
  height: 4rem;
}


.imgMovil{
  position: var(--imgMovilPosition);
  bottom: 0;
  left: 0;
  /* margin-top: -2rem; */
  z-index: 5;
  /* grid-row: 1/4; */
  /* grid-column: 1; */
  width: var(--imgMovilWidth);
  object-fit: var(--imgMovilObjectFit);
  margin: var(--imgMovilMargin);
}

.polivalenciaFlex{
  height: var(--polivalenciaFlexHeight);
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  text-align: var(--polivalenciaTextAlign);
  /* margin-left: 5rem;
  margin-right: 5rem; */
  /* display: grid;
  grid-template-columns: min-content 1fr; */
  /*grid-template-rows: min-content;*/
  width: var(--polivalenciaFlexWidth);

}

.polivalencia {
  /* margin-top: 2rem; */
  align-self: flex-end;
  width: var(--polivalenciaWidth);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

.polivalencia .textMainColor {
  font-weight: 700;
}


.features2 {
  align-self: var(--features2AlignSelf);
  width: var(--features2Width);
  justify-content: space-between;
  padding: var(--features2Padding);
  flex-wrap: wrap;
}


.singleFeature2 {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: var(--singleFeature2Width);
}


.featureIcon2 {
  height: auto;
  align-self: flex-end;
  margin-bottom: calc(var(--sE) * 1.5px);
}

/* .singleFeature{
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
} */

.featureCaption2 {
  font-weight: 300;
}

.featureText{
  text-align: center;
}

.section2CTA{
  background: var(--color1);
  /* grid-column: 1 / span 2;
  grid-row: 3; */
  height: 100px;
  /* display: grid;
  grid-template-columns: min-content 1fr; */


}

.buttonsPolivalencia{
  display: flex;
  justify-content: var(--buttonsPolivalenciaJustifyContent);
  width: 100%;
}

.buttonsPolivalencia .ButtonCTA {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  border-color: white;
  color: white;
}

.buttonsPolivalencia .ButtonCTA:nth-child(2) {
  margin-right: var(--buttonsPolivalenciaMarginRight);
}

/* Section 3 */

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--section3Height);
  grid-gap: 15px;
  text-align: center;
  width: 100%;
}

.section3Element {
  padding: var(--section3ElementPadding);
  background: var(--color2);
}

.section3Title {
  margin-bottom: 1rem;
  font-weight: 300;
  white-space: normal;
}
.section3Title .textMainColor {
  font-weight: 800;
  font-size: 1.2rem;
}
.section3Text {
  font-size: .7rem;
  font-weight: 300;
  margin-bottom: .5rem;
  line-break: strict!important;
  white-space: normal;
}

.section4 {
  padding-top: 50px;
  background: white;
  position: relative;
  z-index: 10;
  /* margin-top: -100px; */
  height: var(--section4Height);
  display: grid;
  /* background-image: url("../img/MoveManager.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed; */
}

.moveManagerImg {
  height: var(--moveManagerImgHeight);
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-top: -80px;
  margin-right: var(--moveManagerImgMarginRight);
  position: relative;
  z-index: -1;
}

.moveManagerPantallas {
  /* height: var(--moveManagerImgHeight); */
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  margin-bottom: 0;
  /* margin-top: -80px; */
  /* margin-right: var(--moveManagerImgMarginRight); */
  /* position: relative; */
  /* z-index: -1; */
  /* max-width: 500px; */
}
.moveManagerImg1{
  margin-top:-80px;
  margin-right:7.2%;
  width: 29.3%;
}
.moveManagerImg2{
  margin-top:65px;
  margin-right:28.5%;
  width: 24.9%;
}
.moveManagerImg3{
  /* margin-top:232px; */
  margin-top:172px;
  margin-right:11%;
  width: 21%;
}
.moveManagerImg4{
  /* margin-top:415px; */
  margin-top:215px;
  margin-right:42.5%;
  width: 19%;
}
.moveManagerImg5{
  /* margin-top:335px; */
  margin-top:265px;
  margin-right:9%;
  width: 57%;
}






.section4Left {
  grid-column: 1;
  grid-row: 1;
}

.section4Title {
  margin: auto;
  margin-left: 4rem;
  width: max-content;
  background: var(--section4TitleBackground);
}

.section4Title h4 {
  font-weight: 300;
  font-size: 1.1rem;
}

.section4Title h5 {
  font-size: 1rem;
  margin-top: 1.5rem;
}


.ButtonCTA2 {
  display: flex;
  align-items: center;
  padding: .5rem;
  background: var(--color1);
  border: none;
  height: max-content;
  width: 240px;
  color: white;
  font-weight: 300;
  font-size: .7rem;
  margin-left: 4rem;
  text-decoration: none;
  transition: .25s;
}

.CTAIcon {
  margin-right: .5rem;
  align-self: flex-start;
  height: 40px;

}
.descargarCTA2 {
  margin-top: var(--descargarCTA2MarginTop);
}

.descargarCTA2:hover {
  margin-top: 5rem;
  /* color: black; */
  background: black;
  border: 1px solid white;
}

.masInfoCTA2{
  background: var(--color4);
  margin-top: .5rem;
}

.masInfoCTA2:hover{
  background: black;
  margin-top: .5rem;
  /* color: black; */
  border: 1px solid white;
}

/* footer */

.footer {
  margin-top: 6.5rem;
  background: var(--color1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--footerHeight);
}

.footerElement {
  margin: auto;
  color: white;
  font-weight: 300;
}

.footerLeft {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.smallTxt {
  font-size: .6rem;
}

.numeroTelefono {
font-size: .8rem;
}

.eMail {
font-size: .7rem;
margin-bottom: 1rem;
}

.firmaDiseniador {
  opacity: .6;
}

.footerRight {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: .5rem;
  margin: auto;
  margin-bottom: 2rem;

}

.logoFooter {
  height: 80px;
}

.footerRightText {
  font-size: .6rem;
}
